
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add printer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/printers">List printers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 justify-content-center card">
            <h1 class="text-center">Save printer</h1>
            <div class="card-body">

                <form th:action="@{/save}" th:object="${printer}" method="post">
                    <div class="form-froup">
                        <label>Nombre:</label>
                        <input type="text" name="nombrePrinter" th:field="*{nombrePrinter}" class="form-control" placeholder="digite el nombre" required>

                    </div>

                    <div class="box-footer">
                        <button class="btn btn-success">Save</button>

                    </div>
                </form>
            </div>

        </div>

    </div>


</div>
</body>
</html>